In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import pandas as pd
from io import StringIO
import os

In [2]:
# setting the years needed and url to look at player
year = 2018
url_start = 'https://www.basketball-reference.com/players/j/{name}01/gamelog/{logYear}'

In [3]:
# path to create the GameLog folder if it didn't exist
main_folder = "GameLogs" 
if not os.path.exists(main_folder):
    os.makedir(main_folder)

In [4]:
# get full name from input
full_name = input("Enter players name (firstname lastname): ").strip()
# split the name into first name last name
split_name = full_name.split()
if len(split_name) != 2: # raise Error if theres less than 1 name or more than 2
    raise ValueError("Please enter both first and last name. Make sure to include any '-' !")

first_name = split_name[0] 
last_name = split_name[1]
if len(last_name) >= 5:
    last_name = last_name[:5]
    
player_name = last_name.lower() + first_name[:2].lower() # formats the name so the website can use it. Lebron James -> jamesle

Enter players name (firstname lastname):  ron baker

In [5]:
# looks up the corresponding year and creates/overwrites the html file in my JokicGameLogs folder
url = url_start.format(name = player_name, logYear = year)
try: 
    response = requests.get(url)
    response.raise_for_status()
except requests.exceptions.Timeout as e:
    print("Request timed out:", e)
except requests.exceptions.RequestException as e:
    print("An error occurred:", e)
# to write a file for each 'x'
file_path = f"GameLogs/{player_name}{year}GameLog.html"
with open(file_path, "w+", encoding="utf-8") as f:
    f.write(response.text)

In [7]:
with open(f"GameLogs/{player_name}{year}GameLog.html", encoding="utf-8") as f:
    page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    test1 = soup.find_all("table", attrs={"summary": "Transactions statistics summary table"})
    print (test1)

In [8]:
# Drop rows of fluff where the index + 1 is divisible by 20 (21, 41, 61, ...)
if 20 in df.index:
    df = df.drop(20)
if 41 in df.index:
    df = df.drop(41)
if 62 in df.index:
    df = df.drop(62)
if 83 in df.index:
    df = df.drop(83)

##### DATAFRAME IS READY
Now lets clean up column names and nulls

In [10]:
# drop the 'Rk' column so we can use our index col instead
if 'Rk' in df.columns:
    df = df.drop(columns=['Rk'])

# drop null rows for subset df
game_only_df = df.dropna(subset=['G'])
# fill null Game played values with "DNP"
df.fillna({"G":"DNP"}, inplace=True)

In [11]:
# name all colums correctly
df.rename(columns={'Unnamed: 5': 'Location'}, inplace=True)
df.rename(columns={'Unnamed: 7': 'WLSpread'}, inplace=True)
df.fillna({'Location':'Home'}, inplace=True)
df.replace({'@': 'Away'}, inplace=True)

In [12]:
df

,G,Date,Age,Tm,Location,Opp,WLSpread,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2017-10-19,24-203,NYK,Away,OKC,L (-21),0,22:38,1,...,2,2,4,3,0,4,1,6,4.7,+4
1,2,2017-10-21,24-205,NYK,Home,DET,L (-4),0,15:18,1,...,0,0,5,0,0,1,1,3,4.8,+7
2,3,2017-10-24,24-208,NYK,Away,BOS,L (-21),0,9:48,0,...,0,0,2,1,0,1,1,2,0.9,-8
3,DNP,2017-10-27,24-211,NYK,Home,BRK,W (+21),Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
4,DNP,2017-10-29,24-213,NYK,Away,CLE,W (+19),Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,DNP,2018-04-03,25-004,NYK,Home,ORL,L (-24),Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
81,DNP,2018-04-06,25-007,NYK,Home,MIA,W (+24),Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
82,DNP,2018-04-07,25-008,NYK,Home,MIL,L (-13),Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
84,DNP,2018-04-09,25-010,NYK,Home,CLE,L (-14),Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
85,DNP,2018-04-11,25-012,NYK,Away,CLE,W (+12),Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive